body{
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Hlavní nadpis, název písně*/
h1{
    color: rgb(0, 120, 215);
}
/* Hlavní podnaddpis, název interpreta*/
h2{
    color: rgb(43, 43, 43);
}
em{
    position: relative; top: -12px;
    color:rgb(0, 120, 215);
    font-weight: bold;
    font-style: normal;
}
header p{
    line-height: normal;
}
p{
    line-height: 200%;
}
#textSongu{
    white-space: pre-line;
}
span{
    clear: both;
}

/*header*/
header{
    height: 50px;
    width: 100%;
    background-color: rgb(0, 120, 215);
    margin: 0px;
    padding: 0px;
}

nav ul{
    float: left;
    margin-top: 15px;
    list-style-type: none;
}
nav ul li{
    float: left;
    margin-left: 5px;
    
}
nav a{
    color: white;
    text-decoration: none;
}


/*telo*/

article header{
    background-color: white;
    margin: 30px;
}
article section{
    margin: 30px;
}
section a:link{
    color: rgb(0, 120, 215);
}
section a:visited{
    color: rgb(43, 43, 43);
}
section a:hover{
    font-weight: bold;    
}
section a{
    text-decoration: none;
}
section li{
    list-style: none;
}
.poznamka{
    color: grey;
    font-style: italic;
}


/*footer*/
footer{
    background-color: rgb(0, 120, 215);
    margin: 0px;
    padding: 20px 20px 20px 20px;
    height: 20px;
    width: 100%;
}
footer a{
    color: white;
    padding: 0px 20px;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}

h1:hover, h2:hover{
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: none;
    animation-name: anime1;
    cursor: pointer;
}
@-webkit-keyframes anime1 {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(5x, 0);
              transform: translate(5px, 0); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }
  
  @keyframes pulse {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(5px, 0);
              transform: translate(5px, o); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }


